<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.picaproject.pica">

    <application
        android:name=".Util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".Activity.ImageInputContentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <activity
            android:name=".Activity.ImageFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CommentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.MemberRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.NewLocationActivity" />
        <activity
            android:name=".Activity.LocationListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ImageDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NotificationListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FriendListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CreateAlbumActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.InviteMemberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.UploadPicActivity" />
        <activity
            android:name=".Activity.NewAlbumUploadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.AlbumMainActivity"
            android:theme="@style/AppTheme.NoStatusBar" />
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3I329Lpte8qJm3xXw-o05LqgDRgaPRdc" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgX56T7hDyocbYf7B-xYYNUatNdh7tRj8" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>